{#
 # News index template
 # -------------------
 #
 # This template is loaded whenever http://example.com/news is
 # requested, because it is located at news/index.html in your
 # craft/templates/ folder.
 #
 # See this page for more details on how Craft routes requests:
 # http://buildwithcraft.com/docs/routing
 #}

{% extends "_layout" %}
{% set title = "Journal" %}

{% block content %}

	<div class="info-column">
		<nav>
			<ul>
				<li id="title"><a href="{{ siteUrl }}">{{ siteName }}</a></li>
				<li><a href="{{ url('writing') }}" {% if craft.request.firstSegment == 'writing' %}class="active"{% endif %}>Writing</a></li>
				<li><a href="{{ url('photos') }}" {% if craft.request.firstSegment == 'photos' %}class="active"{% endif %}>Photos</a></li>
			</ul>
		</nav>
	</section>
	<section class="main-column">
		{% paginate craft.entries.section('writing').limit(10) as entries %}
		{% for entry in entries %}
			<article>
				<h1><a href="{{ entry.url }}">{{ entry.title }}</a></h1>
				<h5>{{ entry.postDate.format('F d, Y') }}</h5>
				{{ entry.body }}
			</article>
		{% endfor %}
	
		<div class="pagination">
		    {% if paginate.nextUrl %}
		        <a href="{{ paginate.nextUrl }}" class="paging prev">Older</a>
		    {% endif %}
			{% if paginate.prevUrl %}
		        <a href="{{ paginate.prevUrl }}" class="paging next">Newer</a>
		    {% endif %}

			{% endpaginate %}
		</div>
	</section>
	
{% endblock %}
