{#
 # Work index template
 # -------------------
 #}

{% extends "_layout" %}
{% set title = "Work" %}

{% block content %}


	<section id="theWork">
		<!-- <div id="workIntro">
			<div class="workList">
				<h5>Design,<br>
					Develepment,<br>
					Illustration,<br>
					Etc.</h5>
			</div>
			<div class="workDesc">
				<p>I make websites, mostly. Sometimes I design for print. The Brooklyn Museum employs me during the day, but by night I wander Brooklyn, looking for things to make.</p>
			</div>
		</div> -->
		
		<div id="design">
		    <ul>
		{% for entry in craft.entries.section('work').type('webDesign') %}
		            
						<li class="{{ entry.type }}" style="background: #{{ entry.color }};">
							<div class="visuals">
								<a href="{{ entry.url() }}">
								{% for image in entry.portfolioImages.limit(1) %}
									{% if entry.type == 'webDesign' %}
										<div class="workImage" style="background:url({{ image.getUrl() }});"></div>
									{% else %}
										<img src="{{ image.getUrl() }}">
									{% endif %}
								{% endfor %}
								</a>
							</div>
							<div class="workMeta">
								<h6>{{ entry.postDate.format('F Y') }}</h6>
								<a href="{{ entry.url() }}">
									<h1>{{ entry.title }}</h1>
								</a>
							</div>
						</li>
		{% endfor %}
		    </ul>
		
			<div class="printWork">
				<div class="row">

				{% for entry in craft.entries.section('work').type('printDesign') %}
					<div class="col-sm-4">
						<div class="{{ entry.type }}">
							<div class="visuals">
								<a href="{{ entry.url() }}">
								{% for image in entry.portfolioImages.limit(1) %}
									<img src="{{ image.getUrl() }}">
								{% endfor %}
								</a>
							</div>
						</div>
					</div>
				{% endfor %}

				</div>
			</div>
		</div>
		
		<!--
		<div id="dev">
			<h2>Front-End Development</h2>
			{% if workIndex.frontEndDev | length %}
				{% for project in workIndex.frontEndDev %}
					<div class="project">
						<h5>{{ project.employer }}</h5>
						<h1><a href="{{ project.siteWebAddress }}">{{ project.siteName }}</a><h1>
					</div>
				{% endfor %}
			{% endif %}
		</div>
		-->
		
	</section>
	
	
{% endblock %}
