{#
 # Photos index template
 # -------------------
 #}

{% extends "_layout" %}
{% set title = "Photos" %}

{% block content %}

		<section class="gallery">
			{% paginate craft.entries.section('photos').limit(10) as entries %}
			{% for entry in entries %}
				{% if entry.photo|length %}
					<article>
					{% for image in entry.photo %}
						<a href="{{ entry.url() }}"><img src="{{ image.getUrl() }}"></a>
					{% endfor %}
						<h5>{{ entry.postDate.format('F d, Y') }}</h5>
					</article>
				{% endif %}
			{% endfor %}
		</section>
		
		<div class="container">
		<div class="pagination">
		    {% if paginate.nextUrl %}
		        <a href="{{ paginate.nextUrl }}" class="paging prev">Older</a>
		    {% endif %}
			{% if paginate.prevUrl %}
		        <a href="{{ paginate.prevUrl }}" class="paging next">Newer</a>
		    {% endif %}

			{% endpaginate %}
		</div>
		</div>
	
	<script src="../public/js/jquery.masonry.min.js"></script>
	<script>

		var $container = $('.xgallery');
		// initialize Masonry after all images have loaded  
		$container.imagesLoaded( function() {
		  $container.masonry(	{
			  itemSelector: 'article'
			});
		});
		
		$( window ).ready(function() {
		  	var $container = $('.xgallery');
			// initialize
			$container.masonry({
			  itemSelector: 'article'
			});
		});

		$( window ).resize(function() {
		  	var $container = $('.xgallery');
			// initialize
			$container.masonry({
			  itemSelector: 'article'
			});
		});
		
		(function($) {

		    var resizeTimer; // Set resizeTimer to empty so it resets on page load

		    function resizeFunction() {
		        // Stuff that should happen on resize
		    };

		    // On resize, run the function and reset the timeout
		    // 250 is the delay in milliseconds. Change as you see fit.
		    $(window).resize(function() {
		        clearTimeout(resizeTimer);
		        resizeTimer = setTimeout(resizeFunction, 250);
		    });

		    resizeFunction();

		})(jQuery);

	</script>


{% endblock %}
