{#
 # Quotes index template
 # ---------------
 #}

{% extends "_layout" %}

{% block content %}

</div>

	<div class="main">
	
		<article>
			<h2>QUOTED</h2>
		</article>
	
		{% paginate craft.entries.section('quotes').limit(19) as entries %}
		{% for entry in entries %}
		<article>
			{{ entry.body }}
			<h5><a href="{{ entry.url }}">{{ entry.quoteAttribution }}</a></h5>
		</article>
		{% endfor %}
	
	</div>

<div id="main">

		<div class="quotesNav">
		    {% if paginate.nextUrl %}
		        <a href="{{ paginate.nextUrl }}" class="paging prev">Older</a>
		    {% endif %}
			{% if paginate.prevUrl %}
		        <a href="{{ paginate.prevUrl }}" class="paging next">Newer</a>
		    {% endif %}

			{% endpaginate %}
		</div>

</div>

{% endblock %}
