{#
 # Quotes index template
 # ---------------
 #}

{% extends "_layout" %}

{% block content %}


<div class="container">
	<div class="col-sm-8 col-sm-offset-2">
		{% paginate craft.entries.section('quotes').limit(2000).order('RAND()') as entries %}
		{% for entry in entries %}
		<article>
			<h5><a href="{{ entry.url }}">{{ entry.quoteAttribution }}</a></h5>
			{{ entry.body }}
		</article>
		{% endfor %}
	</div>
</div>


		<div class="quotesNav">
		    {% if paginate.nextUrl %}
		        <a href="{{ paginate.nextUrl }}" class="paging prev">Older</a>
		    {% endif %}
			{% if paginate.prevUrl %}
		        <a href="{{ paginate.prevUrl }}" class="paging next">Newer</a>
		    {% endif %}

			{% endpaginate %}
		</div>


{% endblock %}
