{#
 # Writing entry template
 # -------------------
 #}

{% extends "_layout" %}
{% set title = "Writing" %}

{% block content %}

{% if entry.type == 'lettersFromTheEditor' %}
	<style>
		header {
			background-color: #5a7b8c;
		}
		header a {
			color: rgb(246,245,236) !important;
		}
		header a:hover {
			color: rgb(252,176,98) !important;
		}
		.editorsLetterHeader {
			background-color: #5a7b8c !important;
			padding: 5em 0 2em;
		}
		.editorsLetterHeader h1 {
			color: rgb(246,245,236) !important;
			text-transform: uppercase;
			margin: 0;
			text-align: center;
		}
		#main {
			min-height: 0;
			margin: 0;
		}
		#main.article {
			margin: 0 auto 10em;
		}
		.editor {
			display: none;
		}
	</style>
	
	</div>
	<div class="editorsLetterHeader">
		<h1>Letter from the Editor</h1>
	</div>
	<div id="main" class="article">
{% endif %}

{% if entry.featuredImage | length %}

	{% if entry.type == 'articles' %}
	</div>
	

		{% for image in entry.featuredImage %}
			<img src="{{ image.getUrl() }}" class="featuredImage">
	
			<style>
				header {
					background-color: rgba(35,38,43,.4);
				}
				header a {
					color: rgb(246,245,236) !important;
				}
				header a:hover {
					color: rgb(252,176,98) !important;
				}
				#main {
					min-height: 0;
					margin: 0;
				}
				#main.article {
					margin: 0 auto 10em;
				}
			</style>
	
		{% endfor %}


	<div id="main" class="article">
	{% endif %}
{% endif %}

	<section id="writing-main" class="single">
		<article>
			<h1>{{ entry.title }}</h1>
			<h5>{{ entry.postDate.format('F d, Y') }}</h5>
			{{ entry.body }}
		</article>
	</section>
	
	<section id="writingLinks">
		{% if entry.writingLinks | length %}
			<h5>Links</h5>
			<ul class="list-unstyled">
				{% for link in entry.writingLinks %}
					<li><a href="{{ link.linkAddress }}">{{ link.linkText }}</a></li>
				{% endfor %}
			</ul>
		{% endif %}
	</section>
	
{% endblock %}
