{#
 # Writing index template
 # -------------------
 #}

{% extends "_layout" %}
{% set title = "Writing" %}

{% block content %}

	{% paginate craft.entries.section('writing').type('journal', 'articles').limit(5) as entries %}
	{% for entry in entries %}
		<article>
			<h1><a href="{{ entry.url }}">{{ entry.title }}</a></h1>
			<h5>{{ entry.postDate.format('F d, Y') }}</h5>
			{% for image in entry.featuredImage %}
				<img src="{{ image.getUrl() }}">
			{% endfor %}
			{{ entry.body }}
		</article>
	{% endfor %}
	
	<div class="pagination">
	    {% if paginate.nextUrl %}
	        <a href="{{ paginate.nextUrl }}" class="paging prev">Older</a>
	    {% endif %}
		{% if paginate.prevUrl %}
	        <a href="{{ paginate.prevUrl }}" class="paging next">Newer</a>
	    {% endif %}

		{% endpaginate %}
	</div>
	
{% endblock %}
