{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width">
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
	
	<!-- <link rel="stylesheet" type="text/css" href="../public/css/feeney.css" /> -->
	<link rel="stylesheet" type="text/css" href="../public/css/friendly.css" /> 
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="../public/js/modernizr.custom.44783.js"></script>
	
	<script type="text/javascript" src="//use.typekit.net/ghk7wom.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-716677-3', 'auto');
	  ga('send', 'pageview');

	</script>

	<script src="../public/js/jquery.masonry.min.js"></script>

</head>

<body id="{{ craft.request.firstSegment }}{% if craft.request.firstSegment == '' %}home{% endif %}">

		<header data-stellar-ratio="1">
			<nav>
				<ul>
					<li id="title"><a href="{{ siteUrl }}">{{ siteName }}</a></li>
					<li><a href="{{ url('writing') }}" {% if craft.request.firstSegment == 'writing' %}class="active"{% endif %}>Writing</a></li>
					<li><a href="{{ url('photos') }}" {% if craft.request.firstSegment == 'photos' %}class="active"{% endif %}>Photos</a></li>
					<!-- <li><a href="{{ url('reading') }}" {% if craft.request.firstSegment == 'reading' %}class="active"{% endif %}>Reading</a></li>
					<li><a href="{{ url('work') }}" {% if craft.request.firstSegment == 'work' %}class="active"{% endif %}>Work</a></li>
					<li><a href="{{ url('journal') }}" {% if craft.request.firstSegment == 'journal' %}class="active"{% endif %}>Journal</a></li>
					<li><a href="{{ url('playground') }}" {% if craft.request.firstSegment == 'playground' %}class="active"{% endif %}>Playground</a></li>
					<li><a href="{{ url('quotes') }}" {% if craft.request.firstSegment == 'quotes' %}class="active"{% endif %}>Quotes</a></li>
					<li><a href="{{ url('about') }}" {% if craft.request.firstSegment == 'about' %}class="active"{% endif %}>About</a></li> -->
				</ul>
			</nav>
			<ul id="social-links">
				<li><a href="https://twitter.com/bfeeney" rel="me"><div data-icon="f" class="icon-social-twitter"></div></a></li>
				<li><a href="http://dribbble.com/bfeeney" rel="me"><div data-icon="r" class="icon-social-dribble"></div></a></li>
				<li><a href="http://instagram.com/brianfeeney/" rel="me"><div data-icon="l" class="icon-social-instagram"></div></a></li>
				<!-- <li><a href="http://www.facebook.com/bcfeeney"><div data-icon="o" class="icon-social-facebook"></div></a></li> -->
				<li><a href="http://briancfeeney.tumblr.com" rel="me"><div data-icon="g" class="icon-social-tumblr"></div></a></li>
				<li><a href="http://pinterest.com/brianfeeney/" rel="me"><div data-icon="i" class="icon-social-pinterest"></div></a></li>
				<li><a href="http://www.rdio.com/people/brianfeeney/" rel="me"><div data-icon="j" class="icon-social-rdio"></div></a></li>
				<!-- <li><a href="http://www.flickr.com/photos/briancf/"><div data-icon="m" class="icon-social-flickr"></div></a></li> -->
				<li><a href="https://github.com/briancfeeney" rel="me"><div data-icon="n" class="icon-social-github"></div></a></li>
				<li><a href="http://last.fm/user/bfeeney" rel="me"><div data-icon="k" class="icon-social-lastfm"></div></a></li>
			</ul>
			<button data-icon="d" class="socialIcon icon-torso"></button>
		</header>
		
		<div id="main">
			{% block content %}
				<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
				<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
			{% endblock %}
		</div>

		<footer id="footer">
			<div class="container">
			{% if craft.request.firstSegment == 'photos' %}
			
				<div data-icon="t" class="icon-camera footerIcon"></div>
				{% for date, entries in craft.entries.section('photos').type('photos').limit(null) | group("postDate|date('Y')") %}
				    <h4>{{ date }}</h4>
				        {% for entry in entries %}
				            <a href="{{ entry.url() }}">
								{{ entry.title }}
							</a>
				        {% endfor %}
				{% endfor %}
				
			{% elseif craft.request.firstSegment == 'writing' %}

				<div data-icon="x" class="icon-pencil footerIcon"></div>
				
				<div class="editor">
				{% for entry in craft.entries.section('writing').type('lettersFromTheEditor').limit(1).find() %}
					<h4>Letter from the Editor <small>{{ entry.postDate.format('F d, Y') }}</small></h4>
					<ul>
						<li><a href="{{ entry.url }}"><h1 class="subTitle">{{ entry.title }}</h1></a></li>
					</ul>
				{% endfor %}
				</div>
				
				{% if globalWriting.articleSubjects | length %}
					{% for subject in globalWriting.articleSubjects %}
						<h4 class="subjectTitle">{{ subject.subjectTitle }}</h4>
						<ul>
							{% for link in subject.subjectArticles %}
								<li><a href="{{ link.url }}"><h1>{{ link.title }}</h1></a></li>
							{% endfor %}
						</ul>
					{% endfor %}
				{% endif %}
				
			{% else %}
			
				<div class="footerIcon"></div>
				
				<ul class="aboutMe">
					<li class="bkm">
						<img src="../public/images/BM-logo.png">
						<p>I'm currently employed as a designer by the Brooklyn Museum, working on the Bloomberg Connects project. You can read about it on <a href="http://www.brooklynmuseum.org/community/blogosphere/">the museum Tech Blog</a>.</p>
						<li class="fwh">
							<img src="../public/images/friendsworkhere.png">
							<p>I'm a member of the <a href="http://www.friendsworkhere.com/">Friends Work Here</a> co-working space on Bergen St. in Carroll Gardens, Brooklyn.</p>
						</li>
				</ul>
				<ul>
					<h4>Writing</h4>
					{% for date, entries in craft.entries.section('writing').type('journal', 'articles').limit(5) | group("postDate|date('Y')") %}
				        {% for entry in entries %}
				            <a href="{{ entry.url() }}">
								<li>
									<h5>{{ entry.postDate.format('M d, Y') }}</h5>
									<h1>{{ entry.title }}</h1>
								</li>
							</a>
				        {% endfor %}
					{% endfor %}
				</ul>
			</div><!-- container -->	
				
				<ul class="photos">
					<div class="container">
						<h4>Photos</h4>
					</div>
					{% for date, entries in craft.entries.section('photos').type('photos').limit(9).order('RAND()') | group("postDate|date('Y')") %}
				        {% for entry in entries %}
				            <a href="{{ entry.url() }}">
								{% for image in entry.photo %}
								<li style="background-image: url( {{ image.getUrl('MediumImages') }} );">
								</li>
								{% endfor %}
							</a>
				        {% endfor %}
					{% endfor %}
				</ul>
				
				<div class="container borderless">
					{% for entry in craft.entries.section('quotes').limit(1).order('RAND()') %}
				        <article class="footer-quote">
							{{ entry.body }}
							<h5>{{ entry.quoteAttribution }}</h5>
						</article>
					{% endfor %}
				</div>
			
				
			{% endif %}
			
				<div class="RSS">
					<a href="{{ siteUrl() }}feeney.rss"><div data-icon="s" class="icon-rss"></div></a>
				</div>
				
			</div>
		</footer>

	<!-- <footer>
		<p>© Brian Feeney / <a href="{{ siteUrl }}/feeney.rss">RSS</a> / <a href="/archive">Archive</a></p>
	</footer> -->
	
	<script src="../public/js/collapse.js"></script>
	
	<script>
		$("button.socialIcon").click(function() {
			$(this).toggleClass("opened");
			$("#social-links").toggleClass("opened");
			$("body").toggleClass("opened");
		});
	</script>
	
	
	<script src="../public/js/jquery.visible.min.js"></script>	
	<script>
		var viewportHeight = $(window).height();
	
		$(window).scroll(function() {
			if ($('#footer').visible(true)) {
			    // The element is visible, do something
				$('#main').addClass('fixed');
				$('#footer').addClass('scrolling');
			} else {
			    // The element is NOT visible, do something else
				$('#main').removeClass('fixed');
				$('#footer').removeClass('scrolling');
			}
		});
	</script>
		
</body>
</html>