{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://buildwithcraft.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}

	<div class="row">
		<div class="col-md-8">
			<section id="aboutText">
				<article>
					<h2>About Me</h2>
					{{ entry.body }}
				</article>
			</section>
		</div>
		<div class="col-md-4">
			<section id="resume">
				<ul>
					<h3>2015</h3>
					<li>Launched Ask Brooklyn Museum and new brooklynmuseum.org</a>
					<li>Redeveloped Wee Beastie website</li>
					<li>Air Master website</li>
					<h3>2014</h3>
					<li>Clay Fain website</li>
					<li>Denizen website</li>
					<li>Hired as Web Designer at Brooklyn Museum</li>
				</ul>
			</section>
		</div>
	</div>


{% endblock %}
