{# Brooklyn Museum study template #}

{% extends "_layout" %}

{% block content %}
	
	</div>
	<div class="bkmHeader">
		<img src="./public/images/BKM/bkm-logo-white.png" id="BKMlogo">
	</div>
		
	<div id="main" class="bkmStory">
		<div class="container">
			<div class="row">
				<div class="col-sm-9">
					<h1>Brooklyn Museum</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-9">
					<p>On January 2nd, 2014, I began as Web Designer for the Brooklyn Museum, working on a host of separate projects tightly integrated under a Bloomberg Connects funding umbrella. My role, in each, has been to direct the design process, collaborate in creating features and functions, and to handle all the UI and UX responsibilities, occasionally doing some front-end work.</p>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-9">
					<p>The full scope of the Bloomberg Connects project has been intentionally left open, but there are a handful of elements we have always known will be included: a new iOS app, a web application to work in tandem with the iOS app, new digital signage for the lobby and galleries, a CMS migration and refresh of the current website, and then a full website redesign a couple years later. The second, more involved website redesign will deeply integrate the data and experience we will have gathered with the Ask program.</p>
					<p>We started with a mission statement:</p>
					<blockquote>To create a dynamic and responsive museum that fosters dialogue and sparks conversation between staff and all Museum visitors.</blockquote>
					<p>What we build and how we build it is an ongoing discussion. The one thing that doesn't change is our commitment to the Museum visitor.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6 col-sm-offset-1 col-xs-offset-3">
					<img src="http://brianfeeney.us/public/brooklynmuseum/ask-logo-black.png" class="ask-logo">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-9">
					<p>We branded the project Ask Brooklyn Museum. A name which hopefully conveys a sense of friendliness as well as a call to action. What we're building is, at it's core, very different than what any other museum has done with tech. With our iOS app, we are giving our visitors the ability to ask questions of our staff as they wander the galleries, and we will answer them in real time. Our Audience Engagment Team will be situated in the lobby of the Museum, using a web app which allows them to reply with information about our art served up by our collections API.</p>
				</div>
			</div>
		</div>

		<section class="full-width screenshots">
			<div class="row">
				<div class="col-sm-3">
					<img src="/public/images/BKM/iOS-comps11.png">
				</div>
				<div class="col-sm-9">
					<img src="http://brianfeeney.us/public/brooklynmuseum/Dashboard-Comps-dev-1.png">
				</div>
			</div>
		</section>

		<div class="container">
			<div class="row">
				<div class="col-sm-9">
					<h2>The iOS App</h2>
					<p>The iOS design should look familiar. We used iMessage as a mental model so that users would feel immediately comfortable using the app. We found it difficult to explain the purpose of Ask to our testers, but once they opened it and recognized the design, they quickly made use of it and began sending in questions.</p>
					<p>For version 1, we've kept the app extremely simple. There's a landing page with a brief descriptive message, and a button which takes them into the chat view. And that's it. Future versions may allow users to view more basic visiting information, exhibition info, and event listings. In beta versions, we actually did include those features, but our visitors mistook their existance as the primary purpose of the app no matter how deeply we buried them in the navigation. The Ask concept is too new for the average visitor to grok right away. They were far too willing to assume our app wasn't any different than their conceptions of others museum apps. That being said, our visitor reviews have been overwhelmingly positive and we're excited to see how the public accepts the new direct access it provides to the Museum and it's staff.</p>
				</div>
			</div>
		</div>

		<section class="full-width screenshots">
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<img src="/public/images/BKM/ios-designs.png">
					</div>
					<div class="col-sm-6">
						<img src="/public/images/BKM/iOS-comps11.png">
					</div>
				</div>
			</div>
		</section>
		
		<div class="container">
			<div class="row">
				<div class="col-sm-9">
					<h2>Ask Dashboard</h2>
					<p>The dashboard is designed with the same UI palette and mimics the look and feel of the the iOS chat screen but with an expanded view. Our staff can view the list of users currently sending in questions, as well as their location, which is determined by using beacons placed throughout the building. In addition to their location, we are surfacing in a thumbnail grid the art nearest the visitor when their question came in. This gives our staff quick access to those objects and to the information our visitors are likely asking.</p>
					<p>It's designed for internal use only, with a wide range of administrative functions and will expand as the project expands. It's a control room for adding new accounts for our Audience Engagement Team members, currators, and other admins. It's a searchable database for all the conversations which have taken place, each of which have tons of meta data attached to them. It will be a place to view data visualizations about how many questions our users have asked, how often they ask them, how long the conversations take place, etc. It's designed to grow with us.</p>
				</div>
			</div>
		</div>

		<section class="full-width screenshots">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">
					<img src="/public/images/BKM/Dashboard-Comps-dev-1.png">
				</div>
				<div class="col-sm-10 col-sm-offset-1">
					<img src="/public/images/BKM/VEI-host-dashboard-comps-r103.png">
				</div>
				<div class="col-sm-10 col-sm-offset-1">
					<img src="/public/images/BKM/VEI-host-dashboard-comps-r102-2.png">
				</div>
			</div>
		</section>
		
		<div class="container">
			<div class="row">
				<div class="col-sm-9">
					<h2>Snippet Cards</h2>
					<p>The snippet cards are one of the most exciting pieces of the Ask app. They provide us with a very effective way to interact with our volumous data and to build something with it. The entire history of chats are stored in a database, and using our interface, we can mine those conversations for choice bits of dialogue. With a few clicks, we can create snippet cards by selecting the relevant chat bubbles from a chat and attaching further meta data such as gallery location, objects discussed, and tags. Particularly great snippets could someday be surfaced on our website or on digital gallery signage; maybe embedded in a facebook post or on Twitter. Questions our team couldn't answer can be sent via snippet card to our currators, who can then respond to the visitors inside the card itself. Maybe one day the very best snippets will be browsable within the iOS app.</p>
					<p>In the next few years, we'll be discovering and testing many different ideas for engaging with the data we collect. Our purpose is to better serve our visitors while they're with us. Their questions will show us where our didactics fail at explaining the art. We'll quickly learn which works of art get the most attention -- or at least attracts the most questions. We'll learn more about our repeat visitors, why they come back, and what they want out of their experience with us. The tools we've begun to build have put us on track towards a much better museum, and a museum much more connected to its community than before.</p>
				</div>
			</div>
		</div>

		<section class="full-width screenshots">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">
					<img src="/public/images/BKM/VEI-host-dashboard-comps-r10-2.png">
				</div>
			</div>
		</section>

				<div class="container">
			<div class="row">
				<div class="col-sm-9">
					<h2>New BrooklynMuseum.org</h2>
					<p>In the spring of 2015, while the beta versions of the Ask project were being tested, we set to building a new brooklynmuseum.org. We've moved quickly to migrate our previous ten year old website from a crumbling custom CMS to Expression Engine, and to design a new, modern, responsive website which is better able to accomodate our visitors. We've called this redesign a "refresh" since the site archetecture is mostly unchanged, and the content is exactly the same as before. A more purposeful website redesign is scheduled to take place in the near future.<p>
					<p>
				</div>
			</div>
		</div>

		<section class="full-width screenshots">
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">
					<img src="/public/images/BKM/new-website_Homepage_r6.jpg">
				</div>
				<div class="col-sm-10 col-sm-offset-1">
					<img src="/public/images/BKM/new-website_Exhibitions-entry.jpg">
				</div>
				<div class="col-sm-10 col-sm-offset-1">
					<img src="/public/images/BKM/new-website_Collections-object.jpg">
				</div>
				<div class="col-sm-10 col-sm-offset-1">
					<img src="/public/images/BKM/new-website_Calendar-index.jpg">
				</div>
				<div class="col-sm-10 col-sm-offset-1">
					<img src="/public/images/BKM/new-website_Shop.jpg">
				</div>
				<div class="col-sm-10 col-sm-offset-1">
					<img src="/public/images/BKM/new-website_Support-membership.jpg">
				</div>
			</div>
		</section>
		
		<div class="container">
			<div class="row">
				<div class="col-sm-9">
					<p>[Closing statement] Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<p>
				</div>
			</div>
		</div>
		

		<script>
			$('#masonry').masonry({
				columnWidth: 200,
				itemSelector: '.item'
			});
		</script>
	

{% endblock %}
