{# Brooklyn Museum study template #}

{% extends "_layout" %}

{% block content %}
	
</div>
	<div class="bkmHeader">
		<img src="./public/images/BKM/bkm-logo-white.png" id="BKMlogo">
	</div>
	<div class="projectsNav">
		<div class="prev">
		</div>
		<a href="/askbrooklynmuseum" class="next">
			Ask Brooklyn Museum <span>➔</span>
		</a>
	</div>
		
	<div id="main" class="bkmStory">
		<section>
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-offset-md-1">
						<p class="intro">On January 2nd, 2014, I began as Web Designer for the Brooklyn Museum. As a designer, I worked on a host of separate projects integrated under a Bloomberg Connects funding umbrella. My role in each was to direct the design process, collaborate in creating features and functions, and to handle all the UI and UX responsibilities. I occasionally helped with front-end work.</p>
					</div>
				</div>

				<div class="row">
					<div class="col-md-10 col-offset-md-1">
						<h2>New BrooklynMuseum.org</h2>
						<p>In the spring of 2015, while the beta versions of <a href="/askbrooklynmuseum">the Bloomberg Connects project</a> were in testing, we set to building a new brooklynmuseum.org. This new, modern, responsive website is better able to accommodate our visitors. We’ve called this redesign a “refresh” since the site architecture is essentially unchanged. The content is exactly the same as before. Our goals were to clean up the typography, better follow our branding, and to fix the various navigational problems which had cropped up over the years. All this while attempting to maintain the spirit of the old site as much as possible. A more purposeful website redesign is scheduled to take place in the near future.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-10 col-offset-md-1">
						<h3>Homepage</h3>
						<p>The homepage received the greatest change. Our old one featured three different slideshows, two of which were for textual content only. This new design strips out the unnecessary complications and opens it up with a long vertical flow. The head of the Museum’s Design Department requested only that we leave as much white space as possible, and to refrain from using any rules, borders, or underlines for any delineation. The resulting look is one created by healthy margins and typographic control.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 webpages">
						<div class="webpage">
							<img src="/public/images/BKM/new-website_Homepage_r6.jpg">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-10 col-offset-md-1">
						<h3>Exhibitions and Collections</h3>
						<p>One of the unexpected constraints in designing the new site was the lack of large images. Copyright issues abound among our collection, which meant many of those images were quite small. In addition, the web editors were operating with 2004 web image standards, posting images smaller than necessary. The new templates for exhibitions and collections artworks take this into account.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 webpages">
						<div class="webpage">
							<img src="/public/images/BKM/new-website_Exhibitions-entry.jpg">
						</div>
						<div class="webpage">
							<img src="/public/images/BKM/new-website_Collections-object.jpg">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-10 col-offset-md-1">
						<h3>Calendar, Shop, and Support</h3>
						<p>One of our goals with the website “refresh” was to design a new site which strayed little from the old one. This meant avoiding fancy transitions or fun javascripty things common to modern websites. But I did take some liberty with the calendar header. To match the wide headers we’re using on many other pages, I designed a horizontally scrollable calendar which feels native to mobile browsing. It delineates which days we are closed, hopefully reducing the number of people knocking on the Museum doors on a Monday morning.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 webpages">
						<div class="webpage">
							<img src="/public/images/BKM/new-website_Calendar-index.jpg">
						</div>
						<div class="webpage">
							<img src="/public/images/BKM/new-website_Shop.jpg">
						</div>
						<div class="webpage">
							<img src="/public/images/BKM/new-website_Support-membership.jpg">
						</div>
					</div>
				</div>
			</div>
		</section>

		<section>
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-offset-md-1">
						<h2>General Notes</h2>
						<p>I designed these comps using our own custom typeface, Brooklynesque, which had been drawn for us by 2x4 in 2004. It’s a lovely grotesque, based on Helvetica, that I’ve found to have a friendly and surprisingly diverse personality. Yet, the fonts, being ten years old, were never intended for web use. They rendered in browsers in all the wrong ways, as you’d expect. So we are having them redrawn for modern usages, and will implement them as soon as possible. At the moment, the site is using Helvetica.</p>
						<p>While we’re calling this redesign a “refresh”, there are plans for a more drastic redesign sometime in the next two years. At that time — and under our new Museum director — we will have the opportunity to rethink the site structure, reimagine the site’s purpose, and integrate the data and content produced by <a href="/askbrooklynmuseum">the Ask project</a>.</p>
					</div>
				</div>
			</div>
		</section>

		<div class="projectsNav">
			<div class="prev">
			</div>
			<a href="/askbrooklynmuseum" class="next">
				Ask Brooklyn Museum <span>➔</span>
			</a>
		</div>
	</div>
	
{% endblock %}
