{# Freelance Work template #}

{% extends "_layout" %}

{% block content %}
	
	</div>
	<div class="freelanceHeader">
		<h1>Freelance Work</h1>
	</div>
	<div class="projectsNav">
		<a href="/askbrooklynmuseum" class="prev">
			<span><</span> Ask Brooklyn Museum
		</a>
		<div class="next">
		</div>
	</div>
		
	<div id="main" class="freelanceWork">
		<div class="container">
			<div class="row">
				<div class="col-sm-11">
					<h1>Design and Development</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-11">
					<p>My freelance work is a mix of design and development. This is work I take on the side. I'm currently employed full time by the Brooklyn Museum, but I have a few hours a week to take on clients. I love making websites, and so it's not just a job to me. It's also a great way to help out good people. And to get paid a little while doing so.</p>
					<br><br>
				</div>
			</div>
		</div>

		<section class="denizen-port">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-1">
						<h2>Denizen</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8 col-md-offset-1">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
					<div class="col-md-3">
						<a href="http://denizen.tv"><button class="btn">Visit the Site</button></a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<img src="/public/portfolio/OnScreen/Denizen-macbookpro.png">
				</div>
			</div>
		</section>

		<section class="clayfain-port">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-1">
						<h2>Clay Fain</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8 col-md-offset-1">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
					<div class="col-md-3">
						<a href="#"><button class="btn">Site offline :(</button></a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<img src="/public/portfolio/OnScreen/kickrepublic-macbookpro.png">
				</div>
			</div>
		</section>

		<section class="kickrepublic-port">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-1">
						<h2>Kick Republic</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8 col-md-offset-1">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
					<div class="col-md-3">
						<a href="http://kickrepublic.com"><button class="btn">Visit the Site</button></a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<img src="/public/portfolio/OnScreen/kickrepublic-macbookpro.png">
				</div>
			</div>
		</section>

		<div class="container">

				{% for entry in craft.entries.section('work').type('webDesign') %}

				<div class="row">
					<div class="col-sm-5 col-sm-push-7">
						<h2>{{ entry.title }}</h2>
						{{ entry.body }}
						{% if entry.websiteLink %}
							<a href="{{ entry.websiteLink }}" class="btn" style="background: #{{ entry.color }};">Visit the Site</a>
						{% endif %}
					</div>
					<div class="col-sm-7 col-sm-pull-5">
						{% if entry.portfolioImages|length %}
							{% for image in entry.portfolioImages %}
								<img src="{{ image.getUrl() }}" class="screenshots">
							{% endfor %}
						{% endif %}
					</div>
				</div>

				{% endfor %}

				<div class="row">
					<div class="col-sm-8">
						<h1>Print Design</h1>
						<p>I don't do a lot of print design these days, but there have a been a few. </p>
					</div>
				</div>

				{% for entry in craft.entries.section('work').type('printDesign') %}

					<div class="row">
						<div class="col-sm-7 col-sm-push-5">
							<h2>{{ entry.title }}</h2>
							{{ entry.body }}
						</div>
						<div class="col-sm-5 col-sm-pull-7">
							{% for image in entry.portfolioImages.limit(1) %}
								<img src="{{ image.getUrl() }}">
							{% endfor %}
						</div>
					</div>

				{% endfor %}
		</div>
	</div>
	

{% endblock %}
