{# Brooklyn Museum study template #}

{% extends "_layout" %}

{% block content %}
	
	</div>
	<div class="postsHeader">
		<img src="./public/images/posts/posts-icons.png" id="posts-icons">
	</div>
		
	<div id="main" class="postsStory">
		<div class="container">
			<div class="row">
				<div class="col-sm-9">
					<h1>Posts</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-10">
					<p>Posts is a new kind of writing app for iOS, combining note taking, journaling, and blogging into a single, unique work flow. In Posts, your notes are treated like a blog, each note like a post, and can be read in one long continuous stream, with untruncated text. Sync Posts with Dropbox and each note is saved as a .txt file, and therefore instantly exportable. With Posts publishing feature, notes you choose to make public are added to an RSS file accessable by any RSS reader on the web. There's no faster way to blog.</p>
					<br><br>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-7 col-sm-push-5">
					<h2>Main Feed</h2>
					<p>The main feed for Posts reads more like a blog than a note taking app. All your writing is visible in one long stream, with no text truncation.</p>
				</div>
				<div class="col-sm-5 col-sm-pull-7">
					<img src="/public/images/posts/Posts-app.png" class="screenshots">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-7 col-sm-push-5">
					<h2>Writing a Note</h2>
					<p>Click the large open space at the top to start a new note. Allows for writing in Markdown.</p>
					<h3>Editing a Note</h3>
					<p>Open and edit any saved note by clicking on it.</p>
				</div>
				<div class="col-sm-5 col-sm-pull-7">
					<img src="/public/images/posts/Posts-app2.png" class="screenshots">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-7 col-sm-push-5">
					<h2>Doing Stuff with a Note</h2>
					<p>Each note can be favorited, shared, archived, published, or deleted. Star your posts for quick reference of your best writing, or notes you want to quickly find. Archive posts you no long what to view in your main feed. Publish posts to a public RSS feed. Delete posts you no longer want.</p>
				</div>
				<div class="col-sm-5 col-sm-pull-7">
					<img src="/public/images/posts/Posts-app3.png" class="screenshots">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-7 col-sm-push-5">
					<h2>Navigation</h2>
					<p>Pulling down from the top will open the navigation.</p>
				</div>
				<div class="col-sm-5 col-sm-pull-7">
					<img src="/public/images/posts/Posts-app5.png" class="screenshots">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-7 col-sm-push-5">
					<h2>Search</h2>
					<p>Using search will filter down your posts, showing all entries which feature those terms.</p>
				</div>
				<div class="col-sm-5 col-sm-pull-7">
					<img src="/public/images/posts/Posts-app6.png" class="screenshots">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-7 col-sm-push-5">
					<h2>Publish to RSS</h2>
					<p>Publish directly to RSS. Posts you choose to publish publicly are added to an RSS file. That file is hosted publicly and can be added to any RSS reader of your choice, such as Feedly, Digg Reader, etc.</p>
					<p>I also plan to turn your published posts into a Dropbox hosted blog which you are free to style and markup to your whim. Point a domain or subdomain at that IP, and Posts becomes the quickest, easist way to blog outside of the walled gardens of Facebook, Tumblr, Twitter, or Medium.</p>
				</div>
				<div class="col-sm-5 col-sm-pull-7">
					<img src="/public/images/posts/Posts-app7.png" class="screenshots">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-7 col-sm-push-5">
					<h2>Version Control</h2>
					<p>Because each of your posts are saved in Dropbox, you have access to past versions. Slide a post-in-progess from the left to see previous versions, if any.</p>
				</div>
				<div class="col-sm-5 col-sm-pull-7">
					<img src="/public/images/posts/Posts-app8.png" class="screenshots">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-7 col-sm-push-5">
					<h2>Settings</h2>
					<p>Self explanatory, I think.</p>
				</div>
				<div class="col-sm-5 col-sm-pull-7">
					<img src="/public/images/posts/Posts-app9.png" class="screenshots">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-7 col-sm-push-5">
					<h2>Publishing Options</h2>
					<p>Choose to backup your files in a Dropbox account. Find your public RSS feed. Link to a Feeeds account (which is a separate app I'm working on: a more people friendly RSS reader).</p>
				</div>
				<div class="col-sm-5 col-sm-pull-7">
					<img src="/public/images/posts/Posts-app10.png" class="screenshots">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-7 col-sm-push-5">
					<h2>Publishing Disabled</h2>
					<p>Publishing is disabled by default, so your notes stay private until you decide to begin publishing to the web.</p>
				</div>
				<div class="col-sm-5 col-sm-pull-7">
					<img src="/public/images/posts/Posts-app13.png" class="screenshots">
				</div>
			</div>
		</div>
	</div>
	

{% endblock %}
