{# Brooklyn Museum study template #}

{% extends "_layout" %}

{% block content %}
	
	</div>
	<div class="postsHeader">
		<img src="./public/images/posts/posts-icons.png" id="posts-icons">
	</div>
		
	<div id="main" class="postsStory">
		<div class="container">
			<div class="row">
				<div class="col-sm-9">
					<h1>Posts</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-10">
					<p>Posts is a new kind of writing app for iOS, combining note taking, journaling, and blogging into a single, unique work flow. In Posts, your notes are treated like a blog, each note like a post, and can be read in one long continuous stream, with untruncated text. Sync Posts with Dropbox and each note is saved as a .txt file, and therefore instantly exportable. With Posts publishing feature, notes you choose to make public are added to an RSS file accessable by any RSS reader on the web. There's no faster way to blog.</p>
					<br><br>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-8 col-sm-push-4">
					<h2>Main Feed</h2>
					<p>The main feed for Posts reads more like a blog than a note taking app. All your writing is visible in one long stream, with no text truncation.</p>
				</div>
				<div class="col-sm-4 col-sm-pull-8">
					<img src="/public/images/posts/notes-app2.jpg" class="screenshots">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-8 col-sm-push-4">
					<h2>Writing a Note</h2>
					<p>Click the large open space at the top to start a new note. Allows for writing in Markdown.</p>
					<h3>Editing a Note</h3>
					<p>Open and edit any saved note by clicking on it.</p>
				</div>
				<div class="col-sm-4 col-sm-pull-8">
					<img src="/public/images/posts/notes-app3.jpg" class="screenshots">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-8 col-sm-push-4">
					<h2>Doing Stuff with a Note</h2>
					<p>Each note can be starred, shared, archived, published, or deleted. Star your posts for quick reference of your best writing, or notes you want to quickly find. Archive posts you no long what to view in your main feed. Publish posts to an RSS feed. Delete posts you no longer want.</p>
				</div>
				<div class="col-sm-4 col-sm-pull-8">
					<img src="/public/images/posts/notes-app10.jpg" class="screenshots">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-8 col-sm-push-4">
					<h2>Navigation</h2>
					<p>Pulling down from the top will open the navigation. </p>
				</div>
				<div class="col-sm-4 col-sm-pull-8">
					<img src="/public/images/posts/notes-app11.jpg" class="screenshots">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-8 col-sm-push-4">
					<h2>Settings</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
				<div class="col-sm-4 col-sm-pull-8">
					<img src="/public/images/posts/notes-app12.jpg" class="screenshots">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-8 col-sm-push-4">
					<h2>Notifcation Widget</h2>
					<p>The fastest possible way to take notes.</p>
				</div>
				<div class="col-sm-4 col-sm-pull-8">
					<img src="/public/images/posts/notes-app9.jpg" class="screenshots">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-8 col-sm-push-4">
					<h2>Publish to RSS</h2>
					<p>Publish directly to RSS. Posts you choose to publish publicly are added to an RSS file. That file is hosted publicly and can be added to any RSS reader of your choice, such as Feedly, Digg Reader, etc.</p>
					<p>I also plan to turn your published posts into a Dropbox hosted blog which you are free to style and markup to your whim. Point a domain or subdomain at that IP, and Posts becomes the quickest, easist way to blog outside of the walled gardens of Facebook, Tumblr, Twitter, or Medium.</p>
				</div>
				<div class="col-sm-4 col-sm-pull-8">
					<img src="/public/images/posts/notes-app13.jpg" class="screenshots">
				</div>
			</div>
		</div>
	</div>
	

{% endblock %}
